@import url(/blocks/content.css);
@import url(/blocks/header.css);
@import url(/blocks/profile.css);
@import url(/blocks/cards.css);
@import url(/blocks/footer.css);
@import url(/blocks/popup.css);

body {
  background-color: #000;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  line-height: 1.5;
  margin: auto;
  max-width: 880px;
}
