.cards {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.card {
  background-color: white;
  width: 282px;
  height: 361px;
  gap: 0px;
  border-radius: 11px;
  opacity: 0px;
  overflow: hidden;
  position: relative;
}
.card__image {
  width: 282px;
  height: 282px;
}
.card__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  text-align: center;
}
.card__text {
}
.card__button-like {
}
.card__-button-trash {
}
