.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.popup_edit_profile {
  display: none;
}

.popup__cover-images {
  display: none;
}
.popup__cover {
  display: flex;
  flex-direction: column;
}
.popup__forms {
}
