.pop {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.pop__overslide {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.pop_show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop__content {
  width: 282px;
  height: 322px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.pop__container {
  width: 85%;
  margin: auto;
}

.pop__title {
  text-align: center;
  align-items: center;
  margin: auto;
  color: #000;
  font-size: 1em;
  font-weight: 900;
  line-height: 40px;
  padding-bottom: 24px;
  width: 90%;
}

.pop__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.form__set {
  border: none;
  width: 100%;
  text-align: center;
}

.pop__input {
  border: none;
  border-bottom: 1px solid #888;
  width: 100%;
  padding-bottom: 0.7em;
  margin-bottom: 2em;
}

@media screen and (min-width: 600px) {
  .pop__content {
    width: 430px;
    height: 330px;
  }

  .pop__container {
    width: 85%;
    margin: 10em auto;
  }
}
