.popup {
  width: 430px;
  height: 330px;
  top: 195px;
  left: 425px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid red;
  color: white;
  display: none;
}
.popup_opened {
}
.popup__close {
  background-color: black;
  border: none;
}
