<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="body">
    <div class="page">
      <header class="header">
        <img src="<%= require('./images/logo.png') %>" alt="logo" />
      </header>
      <main class="main">
        <section class="profile">
          <div class="profile__images">
            <img
              src="<%= require('./images/jacques.png') %>"
              alt=""
              class="profile__img"
            />
          </div>
          <div class="profile__info">
            <div class="profile__name">
              <p class="profile__name-text">Jacques Consteau</p>
              <button
                class="button profile__button profile__button_edit"
              ></button>
            </div>
            <p class="profile__job">Explorer</p>
          </div>
          <div class="profile__add-image">
            <button class="profile__add-button button"></button>
          </div>
        </section>
        <section class="cards">
          <div class="cards__container"></div>
        </section>
        <section class="popup">
          <div class="popup__overlay"></div>
          <div class="popup__cover-edit">
            <div class="popup__content">
              <button
                class="popup__button-close popup__button-close-edit"
              ></button>
            </div>
            <div class="popup__forms">
              <h2 class="popup__form-title">Editar perfil:</h2>
              <form action="" class="popup__form">
                <fieldset class="popup__form-set">
                  <input
                    type="text"
                    name="popup-Nombre"
                    id="popup-Nombre"
                    class="popup__input-name popup__item"
                    placeholder="Nombre"
                    required
                    minlength="2"
                    maxlength="40"
                  />
                  <span class="popup__error popup__error_name"
                    >Por favor llena este campo</span
                  >
                  <input
                    type="text"
                    name="popup-Trabajo"
                    id="popup-Trabajo"
                    class="popup__input-job popup__item"
                    placeholder="Acerca de mí."
                    required
                    minlength="2"
                    maxlength="200"
                  />
                  <span class="popup__error popup__error_name"
                    >Por favor llena este campo</span
                  >
                </fieldset>
                <fieldset class="popup__form-set">
                  <button
                    class="popup__form-set-type-submit button"
                    type="submit"
                  >
                    Guardar
                  </button>
                </fieldset>
              </form>
            </div>
          </div>
        </section>
        <footer class="footer">
          <p class="footer__copy">Around the U.S.</p>
        </footer>
        <template id="card__template">
          <div class="card">
            <img src="images/imagenprueba.png" class="card__image" />
            <button class="card__button-delete"></button>
            <div class="card__info">
              <p class="card__name"></p>
              <button class="button button__type-like"></button>
            </div>
          </div>
        </template>
      </main>
    </div>
  </body>
</html>
